@import 'partials/reset';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@import 'partials/variables';
@import 'partials/position';
@import 'partials/display';
@import 'partials/flex';
@import 'partials/grid';
@import 'partials/spacing';
@import 'partials/sizing';
@import 'partials/typography';
@import 'partials/visual';
@import 'partials/navbar';

// Body

body {
	background-color: #faf7e3;
}

.container {
	max-width: 1192px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f9f8f4;
}

.wrapper-header-button {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(to bottom right, rgb(252, 214, 0), orange);
	border-bottom: 10px solid rgba(0, 0, 0, .3);
	header {
		h1 {
			color: rgb(78, 46, 0);
		}
	}
	div {
		margin-bottom: 20px;
		button {
			background: none;
			border-style: none;
			padding: 10px 20px;
			background-color: #f9f4f4;
			border-radius: 5px;
			font-size: 16px;
			color: rgb(110, 104, 92);
			font-weight: 700;
			cursor: pointer;
		}
		button:hover {
			background-color: #503400;
			color: #ffffff;
		}
	}
}

.grid-books {
	margin: 50px 20px;
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	@media screen and (min-width: 480px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	@media screen and (min-width: 768px) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	@media screen and (min-width: 1024px) {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	grid-gap: 20px;
	.grid-books-item {
		position: relative;
		display: grid;
		align-content: space-between;
		padding: 20px 40px 20px 20px;
		border: 5px solid rgba(0,0,0,0.5);
		border-radius: 5px;
		background-color: #503400;
		color: #d9d9d9;
		cursor: pointer;

		.grid-books-item-title {
			color: #d1ca89;
			font-size: 24px;
			font-weight: 500;
		}
		.grid-books-item-author {
			margin-top: 10px;
			font-size: 16px;
		}

		.grid-books-item-pages-read {
			display: grid;
			.grid-books-item-pages {
				margin-top: 30px;
				font-size: 14px;
			}
			.grid-books-item-read {
				margin-top: 10px;
				padding: 2px 10px;
				border: none;
				border-radius: 5px;
				color: white;
				background-color: rgb(29, 146, 0);
				font-size: 16px;
				justify-self: start;
				cursor: pointer;
			}
			.grid-books-item-read:hover {
				background-color: rgb(29, 115, 0);
			}
		}
		.grid-books-item-delete {
			position: absolute;
			top: 15px;
			right: 15px;
			.grid-books-item-delete-icon {
				color: rgb(221, 221, 221);
				font-size: 18px;
			}
			.grid-books-item-delete-icon:hover {
				color: red;
			}

		}
	}
}


/*
Start watching for compiling scss to css
sass --watch main.scss:main.css
*/

/* Declaration order 

	Positioning
	Box model
	Typographic
	Visual
	Misc

		*Positioning*
		
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
	
		*Box-model*

		display: block;
		float: right;
		width: 100px;
		height: 100px;
	
		*Typography*

		font: normal 13px "Helvetica Neue", sans-serif;
		line-height: 1.5;
		color: #333;
		text-align: center;
	
		*Visual*

		background-color: #f5f5f5;
		border: 1px solid #e5e5e5;
		border-radius: 3px;
	
		*Misc*
		
		opacity: 1;

*/
